@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    background-color: #F5F5F5;
    transition: all 800ms;
}


* {
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

main *{
    transition: all 0.5s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#start-btn:hover span{
    margin: 10px;
}